@{
    ViewData["Title"] = "OmMig";
}


<div class="container p-5 m-5 border text-center">
 <h1 class="display-1">JESSICA THORÉN</h1> <br />
 <hr width="100%" style="color:black">
 <h6 class="display-6">STUDERANDE .NET-UTVECKLARE</h6>
</div>
<header class="page-header">
            <i class="fas fa-user-circle fa-10x"></i>
        </header>
<div class="container-fluid">
  <div class="row">
    <div class="col-md-8">
      <h3>Vem är jag:</h3>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime mollitia,
            molestiae quas vel sint commodi repudiandae consequuntur voluptatum laborum
            numquam blanditiis harum quisquam eius sed odit fugiat iusto fuga praesentium
            optio, eaque rerum! Provident similique accusantium nemo autem.
      </p>
    </div>
    <div class="col-md-4 box">
      <h3>Contact</h3>  
            <i class="fas fa-phone-alt"></i></> 070-1234567<br />
            <i class="fas fa-envelope"></i><a href="mailto...:"> MyName@hotmail.com</a> <br />
            <i class="fab fa-github"></i> GitName
    </div>
  </div>
</div>
</div>
      <hr width="100%" style="color:black">


