@{
    ViewData["Title"] = "OmMig";
}

<div class="jumbotron p-5 m-5 text-center">
    <h1 class="display-1">JESSICA THORÉN</h1>
    <hr width="100%" style="color:black">
    <h6 class="display-6">STUDERANDE .NET-UTVECKLARE</h6>
</div>

<div class="container" style="margin-top:30px">
    <div class="row">
        <div class="col-sm-4">
            <i class="fas fa-user-circle fa-10x"></i>
            <h3 text-center>Kontakta mig:</h3>
            <i class="fas fa-phone-alt"></i> 070-1234567 <br />
            <i class="fas fa-envelope"></i><a href="mailto...:"> Name@hotmail.com</a> <br />
            <i class="fab fa-github"></i> GitName
            <hr class="d-sm-none">
        </div>
        <div class="col-sm-8">
            <h2>Om mig:</h2>
            <p>Some text about me..</p>
            <p>Sunt in culpa qui officia deserunt mollit anim id est laborum consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco.</p>
            <br>
            <p>Some text about me..</p>
            <p>Sunt in culpa qui officia deserunt mollit anim id est laborum consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco.</p>
        </div>
    </div>
</div>
<hr width="100%" style="color:black">


