@{
    ViewData["Title"] = "Privacy Policy";
}


<div class="jumbotron text-center" style="margin-bottom:0">
    <h1 class="display-4">@ViewData["Title"]</h1>
    <hr width="100%" style="color:black">
    <p>Take a moment to sit back, relax, and drink coffee</p>
    <i class="fas fa-mug-hot"></i>
</div>

