@{
    ViewData["Title"] = "Utbildning";
}
<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-4">@ViewData["Title"]</h1>
        <hr width="100%" style="color:black">
        <div class="col-6">
            <h3>Teknikhögskolan</h3>
            <p>.NET-utvecklare</p>
            <p>14 december - pågående</p>
        </div>
        <div class="col-6">
            <h3>Gymnasium</h3>
            <p>Samhällsvetenskap</p>
            <p>2010-2013</p>
        </div>
    </div>
    <div class="container">
  <h2>Striped Rows</h2>
  <p>The .table-striped class adds zebra-stripes to a table:</p>            
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Firstname</th>
        <th>Lastname</th>
        <th>Email</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>John</td>
        <td>Doe</td>
        <td>john@example.com</td>
      </tr>
      <tr>
        <td>Mary</td>
        <td>Moe</td>
        <td>mary@example.com</td>
      </tr>
      <tr>
        <td>July</td>
        <td>Dooley</td>
        <td>july@example.com</td>
      </tr>
    </tbody>
  </table>
</div>

