@{
    ViewData["Title"] = "Utbildning";
}
<h3 class="display-3">@ViewData["Title"]</h3>
    <div class="col-md-7">
         <div class="media">
            <div class="media-left">
             2004 2005
            </div>
            <div class="media-body">
              <h4 class="media-heading"></strong>Era utbildningar</strong></h4>
              Diverse påbyggnadskurser
            </div>
         </div> 

         <div class="media">
            <div class="media-left">
             2004 2005
            </div>
            <div class="media-body">
              <h4 class="media-heading"></strong>Fler utbildningar</strong></h4>
              Diverse påbyggnadskurser
            </div>
         </div> 
@*  <div class="container p-5 m-5 border text-center">
  <h3 class="display-3">@ViewData["Title"]</h3>
</div>
  
<div class="container">
  <div class="row">
    <div class="col-6">
      <h3>Teknikhögskolan</h3>
      <p>.NET-utvecklare</p>
      <p>14 december - pågående</p>
    </div>
    <div class="col-6">
      <h3>Gymnasium</h3>
      <p>Samhällsvetenskap</p>
      <p>2010-2013</p>
    </div>
    </div>
  </div>*@
