@{
    ViewData["Title"] = "Utbildning";
}
<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-4">@ViewData["Title"]</h1>
        <hr width="100%" style="color:black">
        <div class="container">
            <h2>Teknikhögskolan</h2>
            <p><i class="fas fa-book-reader"></i> .NET-utvecklare</p>
            <p><i class="fas fa-hourglass-half"></i> 14 december - pågående</p>
            <table class="table table-bordered table-sm">
                <thead>
                    <tr>
                        <th>Kurser</th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="table-success">
                        <td><i class="far fa-check-circle"></i> Webbutveckling Frontend</td>
                    </tr>
                    <tr class="table-success">
                        <td><i class="far fa-check-circle"></i> Databaser med SQL</td>
                    </tr>
                    <tr class="table-success">
                        <td><i class="far fa-check-circle"></i> Dataåtkomster i .NET</td>
                    </tr>
                    <tr class="table-success">
                        <td><i class="far fa-check-circle"></i> Programmeringsteknik C#</td>
                    </tr>
                    <tr class="table-success">
                        <td><i class="far fa-check-circle"></i> Grunder i Java-script</td>
                    </tr>
                    <tr>
                        <td><i class="far fa-circle"></i> Webbutveckling Backend</td>
                    </tr>
                    <tr>
                        <td><i class="far fa-circle"></i> Utveckling i Windows molntjänster</td>
                    </tr>
                    <tr>
                        <td><i class="far fa-circle"></i> Projekt, organisation och affärsmannaskap</td>
                    </tr>
                    <tr>
                        <td><i class="far fa-circle"></i> LIA 1</td>
                    </tr>
                    <tr>
                        <td><i class="far fa-circle"></i> Utveckling med ramverket i .NET</td>
                    </tr>
                    <tr>
                        <td><i class="far fa-circle"></i> LIA 2</td>
                    </tr>
                    <tr>
                        <td><i class="far fa-circle"></i> Examensarbete</td>
                    </tr>
                </tbody>
            </table>
            <div class="col">
                <h3>Gymnasium</h3>
                <p><i class="fas fa-book-reader"></i> Samhällsvetenskap</p>
                <p><i class="fas fa-hourglass-end"></i> 2010-2013</p>
            </div>
        </div>

