@{
    ViewData["Title"] = "Utbildning";
}

<div class="col-md-7">
       <h1>@ViewData["Title"]</h1>
         <div class="media">
            <div class="media-left">
             2004 2005
            </div>
            <div class="media-body">
              <h4 class="media-heading"></strong>Era utbildningar</strong></h4>
              Diverse påbyggnadskurser
            </div>
         </div> <! —div class media -- >

         <div class="media">
            <div class="media-left">
             2004 2005
            </div>
            <div class="media-body">
              <h4 class="media-heading"></strong>Fler utbildningar</strong></h4>
              Diverse påbyggnadskurser
            </div>
         </div> <! —div class media -- >